# AWS Credentials
AWS_ACCESS_KEY_ID=tu_access_key_id_aqui
AWS_SECRET_ACCESS_KEY=tu_secret_access_key_aqui
AWS_REGION=eu-north-1

# MongoDB Configuration
MONGODB_URL=tu_mongodb_connection_string_aqui

# JWT Secret
JWT_SECRET=tu_jwt_secret_aqui

# Port (opcional)
PORT=4000
